---
import BlogEntry from "../../../../components/BlogEntry.astro";
---

<BlogEntry
    title="牛肉麵"
    class="pt-4 pl-10 w-full h-full justify-center items-center"
>
    <h1 class="text-6xl text-center">Taiwanese beef noodle soup (牛肉麵)</h1>
    <section class="w-full max-w-3xl mx-auto mt-10">
        <img src="title.png" alt="牛肉麵" class="rounded-lg" />
        <h2 class="text-2xl">Ingredients</h2>
        <dl class="space-y-4">
            <div>
                <dt>Spices</dt>
                <dd>
                    <ul class="list-disc list-inside">
                        <li>2 Chinese black cardamoms</li>
                        <li class="font-bold">2 bay leaves</li>
                        <li>2 star anise</li>
                        <li>2 licorice slices</li>
                        <li class="font-bold">1 tbsp Sichuan peppercorn</li>
                        <li>1 tsp fennel seeds</li>
                        <li>1 tbsp goji berries</li>
                    </ul>
                </dd>
            </div>
            <div>
                <dt>Suppe</dt>
                <dd>
                    <ul class="list-disc list-inside">
                        <li>~700g Beef shank or beef chuck</li>
                        <li>6 tablespoons cooking oil</li>
                    </ul>
                </dd>
            </div>
        </dl>
    </section>
</BlogEntry>
