---
import BlogEntry from "../../../components/BlogEntry.astro";
import { secret_code } from "../../../data/secret_code";
import { generate } from "generate-passphrase";
const entries = new Array(10000).fill(0).map(() =>
    generate({
        length: 4,
        separator: "_",
    }),
);
entries[512] = secret_code;
---

<BlogEntry
    title="Babel"
    class="w-full h-screen flex justify-center"
>
    <div>
        {
            entries.map((entry, index) => (
                    <p id={`${index}`}>{entry}</p>
                    <br />
            ))
        }
    </div>
</BlogEntry>
