---
import TitleAndMeta from "../../components/TitleAndMeta.astro";
import LinkList from "../../components/LinkList.astro";
import MainContent from "../../components/MainContent.astro";
import { path_routes } from "../../data/routes.ts";
---

<TitleAndMeta title="Blog" />
<MainContent>
  <div
    class="bg-blackflex justify-center items-center h-screen w-screen flex flex-col"
  >
    <LinkList sites={path_routes.get("blog/")?.children ?? []}>
      <h3 slot="pre_list">Haher</h3>
    </LinkList>
  </div>
</MainContent>
