---
import Version from "./components/Version.astro";
import TitleAndMeta from "./components/TitleAndMeta.astro";
import LinkList from "./components/LinkList.astro";
const sites: { name: string; url: string }[] = [
  { name: "chip-8", url: "chip-8/" },
  { name: "Tower defence", url: "twd/" },
  { name: "Wave function collapse", url: "wfc/" },
  { name: "RegexToNFA", url: "regex/" },
  { name: "Voxel space", url: "voxel_space/" },
  { name: "Voxel space in wasm", url: "voxel_space_wasm/" },
  { name: "lua", url: "lua_wasm/" },
  { name: "Sonderzeichen", url: "sonderzeichen/" },
  { name: "Hackertype", url: "hackertype/" },
  { name: "Whatsapp backup viewer", url: "chat_viewer/" },
  { name: "AI", url: "ai/" },
].sort ((a, b) => a.name.localeCompare (b.name));
---

<TitleAndMeta />
<div class="sr-only" id="bg-description"></div>
<div
  id="background"
  class={`bg-black bg-cover bg-no-repeat bg-center flex justify-center items-center h-screen w-screen`}
  aria-describedby="bg-description"
>
  <div
    class="fixed top-0 left-0 bg-gray-200 bg-opacity-25 rounded p-2"
    aria-hidden="true"
    id="title_div"
  >
  </div>
  <LinkList
    sites={sites}
    outerClass="h-screen"
    middleClass="bg-white bg-opacity-75 rounded p-4"
  >
    <Version />
  </LinkList>
  <div
    class="fixed bottom-0 left-0 bg-gray-200 bg-opacity-25 rounded p-2"
    aria-hidden="true"
    id="copyright_div"
  >
  </div>
  <div
    class="fixed bottom-0 right-0 bg-gray-200 bg-opacity-25 rounded p-2"
    aria-hidden="true"
    id="date_div"
  >
  </div>
</div>

<script>
  import { renderBackground } from "./index.ts";
  const fetchedMaxImage = await fetch ("/nasa/apod/pictures.json");
  const maxImage = await fetchedMaxImage.json ();
  await renderBackground(maxImage);
</script>
