---
import Version from "../components/Version.astro";
import TitleAndMeta from "../components/TitleAndMeta.astro";
import LinkList from "../components/LinkList.astro";
import { routes } from "../data/routes.ts";
import MainContent from "../components/MainContent.astro";
export const prerender = false;
---

<TitleAndMeta />
<div class="sr-only" id="bg-description"></div>
<MainContent
  id="background"
  class={`bg-black bg-cover bg-no-repeat bg-center flex justify-center items-center h-screen w-screen`}
  aria-describedby="bg-description"
>
  <div
    class="fixed top-0 left-0 bg-gray-200 bg-opacity-25 rounded p-2"
    aria-hidden="true"
    id="title_div"
  >
  </div>
  <LinkList
    sites={routes}
    outerClass="h-screen"
    middleClass="bg-white bg-opacity-75 rounded p-4"
  >
    <div
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      id="rerender"
    >
      Reload background
    </div>
    <div class="text-gray-500 dark:text-gray-400">
      <span id="count">COULD NOT CONNECT TO DATABASE</span> visitors
    </div>
    <Version slot="after-list" />
  </LinkList>
  <div
    class="fixed bottom-0 left-0 bg-gray-200 bg-opacity-25 rounded p-2"
    aria-hidden="true"
    id="copyright_div"
  >
  </div>
  <div
    class="fixed bottom-0 right-0 bg-gray-200 bg-opacity-25 rounded p-2"
    aria-hidden="true"
    id="date_div"
  >
  </div>
</MainContent>

<script>
  import { ApiPath } from "../data/apipath";
  import { renderBackground } from "./main.ts";
  const fetchedMaxImage = await fetch(`${ApiPath}/nasa/apod/pictures`);
  const maxImage = await fetchedMaxImage.json();
  await renderBackground(maxImage);
  document.getElementById("rerender")!.onclick = async () => {
    await renderBackground(maxImage);
  };
  await fetch(`${ApiPath}/db/count`, { method: "POST" });
  const visitors = await (await fetch(`${ApiPath}/db/count`)).text();
  document.getElementById("count")!.textContent = visitors;
</script>
