---
import Version from "../components/Version.astro";
import TitleAndMeta from "../components/TitleAndMeta.astro";
import LinkList from "../components/LinkList.astro";
import { routes } from "../data/routes.ts";
---

<TitleAndMeta />
<div class="sr-only" id="bg-description"></div>
<div
  id="background"
  class={`bg-black bg-cover bg-no-repeat bg-center flex justify-center items-center h-screen w-screen`}
  aria-describedby="bg-description"
>
  <div
    class="fixed top-0 left-0 bg-gray-200 bg-opacity-25 rounded p-2"
    aria-hidden="true"
    id="title_div"
  >
  </div>
  <LinkList
    sites={routes}
    outerClass="h-screen"
    middleClass="bg-white bg-opacity-75 rounded p-4"
  >
    <div
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      id="rerender"
    >
      Reload background
    </div>
    <Version slot="after-list" />
  </LinkList>
  <div
    class="fixed bottom-0 left-0 bg-gray-200 bg-opacity-25 rounded p-2"
    aria-hidden="true"
    id="copyright_div"
  >
  </div>
  <div
    class="fixed bottom-0 right-0 bg-gray-200 bg-opacity-25 rounded p-2"
    aria-hidden="true"
    id="date_div"
  >
  </div>
</div>

<script>
  import { renderBackground } from "./index.ts";
  const fetchedMaxImage = await fetch("/nasa/apod/pictures.json");
  const maxImage = await fetchedMaxImage.json();
  await renderBackground(maxImage);
  document.getElementById("rerender")!.onclick = async () => {
    await renderBackground(maxImage);
  };
</script>
