---
import MainContent from "../../components/MainContent.astro";
import TitleAndMeta from "../../components/TitleAndMeta.astro";
import "./_main.css";
---

<TitleAndMeta title="Whatsapp-backup-viewer" />

<script is:inline src="jszip.min.js"></script>

<MainContent>
  <a href="./LICENSE">jszip license</a>
  <br />
  <input type="file" id="file_input" accept=".zip, .txt" />
  <br />
  <code id="num_of_nodes"></code>
  <div id="chat">
    <div class="message">Hallo</div>
  </div>
</MainContent>

<script>
  import { main } from "./main.js";

  main();
</script>
