---
import TitleAndMeta from "../components/TitleAndMeta.astro";
---

<TitleAndMeta title="Chip-8" />

<style>
    #parent {
        margin: 0px;
    }

    #canvas {
        border: 0px none;
        background-color: black;
    }
</style>
<canvas
    id="canvas"
    tabindex="-1"
    onclick="document.getElementById('canvas').requestFullscreen()"></canvas>
<p id="output"></p>
<script is:inline>
    if (typeof SharedArrayBuffer === "undefined") {
        const dummyMemory = new WebAssembly.Memory({
            initial: 0,
            maximum: 0,
            shared: true,
        });
        globalThis.SharedArrayBuffer = dummyMemory.buffer.constructor;
    }
    Module = {};
    let element = document.getElementById("output");
    Module["print"] = (text) => {
        if (text.length > 1) text = Array.prototype.slice.call(text).join("");
        console.log("log: " + text);
        if (element) {
            element.innerText += text + "\n";
            element.scrollTop = element.scrollHeight; // focus on bottom
        }
    };
    Module["printErr"] = Module["print"];

    Module.canvas = (function () {
        var canvas = document.getElementById("canvas");
        return canvas;
    })();
</script>
<script is:inline async type="text/javascript" src="chip-8.js"></script>
