---
interface Props {
  href?: string;
  reload?: boolean;
}

const { href = "#", reload = false, ...rest } = Astro.props;
---

{
  reload ? (
    <a
      data-astro-reload
      href={href}
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      {...rest}
    >
      <slot>{href}</slot>
    </a>
  ) : (
    <a
      href={href}
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      {...rest}
    >
      <slot>{href}</slot>
    </a>
  )
}
