---
import type { Route } from "../data/routes";
import LinkList from "./LinkList.astro";

interface Props {
    title: string;
    items: Route[];
    class?: string;
}

const { title = "Menu", items = [], class: cls = "" } = Astro.props;
---

<aside class={cls}>
    {
        title && (
            <h2 class="text-xl font-semibold mb-4 text-gray-900 dark:text-gray-100">
                {title}
            </h2>
        )
    }
    <nav>
        <LinkList sites={items} />
    </nav>
</aside>
