---
import type { Route } from "../data/routes";
import LinkList from "./LinkList.astro";

interface Props {
    title: string;
    items: Route[];
}

const { title = "Menu", items = [] } = Astro.props;

---

<aside class="w-64 bg-gray-100 dark:bg-gray-800 p-4 top-0 sticky h-screen shrink-0">
    {
        title && (
            <h2 class="text-xl font-semibold mb-4 text-gray-900 dark:text-gray-100">
                {title}
            </h2>
        )
    }
    <nav>
        <LinkList sites={items}></LinkList>
    </nav>
</aside>
